trunk/EXA7532/facade/src/wsdl/holiday.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://mycompany.com/hr/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mycompany.com/hr/schemas" targetNamespace="http://mycompany.com/hr/schemas">
  <wsdl:types>
    <xs:schema xmlns:hr="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas">
    <xs:element name="HolidayRequest">
        <xs:complexType>
            <xs:all>
                <xs:element name="Holiday" type="hr:HolidayType"/>
                <xs:element name="Employee" type="hr:EmployeeType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="HolidayResponse">
        <xs:complexType>
            <xs:all>
                <xs:element name="success" type="xs:boolean"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="HolidayType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="StartDate" type="xs:dateTime"/>
            <xs:element maxOccurs="1" minOccurs="1" name="EndDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Number" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="FirstName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="LastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="HolidayRequest">
    <wsdl:part element="tns:HolidayRequest" name="HolidayRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HolidayResponse">
    <wsdl:part element="tns:HolidayResponse" name="HolidayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HumanResource">
    <wsdl:operation name="Holiday">
      <wsdl:input message="tns:HolidayRequest" name="HolidayRequest">
    </wsdl:input>
      <wsdl:output message="tns:HolidayResponse" name="HolidayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HumanResourceSoap11" type="tns:HumanResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Holiday">
      <soap:operation soapAction=""/>
      <wsdl:input name="HolidayRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HolidayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanResourceService">
    <wsdl:port binding="tns:HumanResourceSoap11" name="HumanResourceSoap11">
      <soap:address location="http://prodageo.appspot.com/holidayservice/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>