EXA3412/AsyncWs/web/WEB-INF/wsdl/AsyncTestResponseImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://prodageo.org/" xmlns:tns="http://prodageo.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="response" type="tns:response"/>

  <xs:element name="responseResponse" type="tns:responseResponse"/>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

